html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}

html {
    background-image: none;
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

body {
    background-image: none;
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    width: 360px;

}
.container {
    width: 360px;
    margin: 0 auto 0 auto;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    background-color: #f5e79e;
}
div.footer, div.header {
    padding: 0;
    margin: 0 auto;
}
div.header img {
    width: 100%;
}
div.footer p {
    margin: 10px auto;
    padding: 15px;
    text-align: centers;
    font-size: 12px;
    line-height: 20px;
    font-family: sans-serif;
    margin-top: -20px;
}
div.footer {
    margin: 30px auto;
}
div.footer p{
    max-width: 340px;
}
.footer .sub {
    margin: 20px auto;
    text-align: center;
    color: black;
}

h5 {
    font-size: 10px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 10px 0;
    padding:0;
    text-align: center;
    letter-spacing: -0.5px;
    color:#FE0267;

}
.h6 {
    font-size: 8px;
    font-weight: normal;
    line-height: 20px;
    margin: 20px 0 10px 0;
    padding:0;
    text-align: center;

    color:#705963;

}

a{ text-decoration:none}
button.buttonOne {
    height: 56px;
    width: 240px;
    padding: 0;
    margin: 0 auto 0 auto;
    border-radius: 30px;
    background-color: #9644a5;
    color: white;
    display: block;
    font-weight: bold;
    line-height: 56px;
    text-align: center;
    font-size: 32px;
    text-decoration: none;
    letter-spacing: 1px;

}

