<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=360">
    <title>Soukromí</title>
    <link rel="icon" href=" " type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="/static/css/tnc.css">
    <style>
        p {
            font-family: 'Titillium Web', Sans-Serif;
            margin-bottom: 1rem;
            font-size: inherit;
            line-height: 1.6;
            text-rendering: optimizeLegibility;
            box-sizing: inherit;
        }

        h4 {
            font-weight: 600;
        }

        strong {
            color: #fff;
        }

        ul {
            color: #fff;
            padding: 0;
        }

        span {
            color: #fff;
        }

        table {
            width: 100%;
            margin-bottom: 1rem;
            border-radius: 0;
            display: table;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: grey;
        }

        table thead {
            background: #f8f8f8;
            color: #0a0a0a;
        }

        thead {
            border: 1px solid #f1f1f1;
        }

        table tbody,
        table tfoot,
        table thead {
            border: 1px solid #f1f1f1;
            background-color: #fefefe;
            display: table-row-group;
            vertical-align: middle;
        }

        table {
            display: table;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: grey;
        }

        table tbody td,
        table tbody th {
            padding: .5rem .625rem .625rem;
        }

        table tfoot td,
        table tfoot th,
        table thead td,
        table thead th {
            padding: .5rem .625rem .625rem;
            font-weight: 700;
            text-align: left;
        }

        th, td {
            font-size: 12px;
        }
    </style>
</head>

<body style="">
<div class="container">
    <div class="content">
        <h3 style="font-size: 15px;text-align: left;"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">POLITIKA OCHRANY SOUKROMÍ PRO (MOBILNÍ) WEBOVÉ STRÁNKY URČENÉ
                    PRO SPOTŘEBITELE</font></font></h3>
        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1.
                    ÚVOD</font></font></strong>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tyto zásady ochrany osobních
                    údajů se vztahují na web Game Center a upravují zásady ochrany osobních údajů jeho uživatelů,
                    kteří se rozhodli je používat.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tyto zásady specifikují různé
                    oblasti ochrany soukromí uživatelů, jakož i povinnosti a požadavky pro uživatele, web a vlastníky
                    webů. </font><font style="vertical-align: inherit;">Tyto zásady navíc podrobně popisují, jak web
                    zpracovává, ukládá a chrání uživatelská data a informace.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost Foxseek Media Limited je správcem údajů pro účely obecného nařízení EU o ochraně údajů, které
                    vstupuje v platnost dnem 25. května 2018. Kontaktní údaje společnosti jsou k dispozici na webových
                    stránkách. </font><font style="vertical-align: inherit;">Pokud nejste spokojeni s žádným aspektem
                    týkajícím se shromažďování a používání vašich údajů, máte právo podat stížnost u vašeho místního
                    dozorového orgánu v otázkách ochrany údajů. </font><font style="vertical-align: inherit;">Společnost
                    bude vděčná, pokud ji uživatel nejprve kontaktuje v případě stížností, aby se mohla pokusit problém
                    vyřešit.</font></font></p>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2. KTERÉ UŽIVATELSKÉ ÚDAJE
                    JSOU GROMADZ </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Osobní údaje jsou jakékoli
                    informace, které identifikují fyzickou osobu. </font><font style="vertical-align: inherit;">Nezahrnují
                    data zpracovaná pro zajištění anonymity.</font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost může zpracovávat
                    některé typy osobních údajů uživatele následujícími způsoby: </font></font></p>
        <ul>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Identifikační
                            údaje</font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;"> mohou zahrnovat jméno, rodné jméno, příjmení, uživatelské
                        jméno, rodinný stav, titul, datum narození a pohlaví.</font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kontaktní
                            údaje</font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;"> mohou zahrnovat fakturační adresu, dodací adresu,
                        e-mailovou adresu a telefonní čísla.</font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Finanční
                            údaje</font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;"> mohou zahrnovat </font><strong><font
                                style="vertical-align: inherit;">údaje</font></strong><font
                            style="vertical-align: inherit;"> o bankovním účtu a platební kartě.</font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Údaje o
                            transakcích</font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;"> mohou zahrnovat podrobnosti o platbách mezi společností a
                        uživatelem a další podrobnosti o nákupech provedených uživatelem.</font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Technické
                            údaje</font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;"> mohou zahrnovat přihlašovací údaje, adresy internetového
                        protokolu, typ a verzi prohlížeče, typy a verze zásuvných modulů prohlížeče, nastavení časového
                        pásma a umístění, informace o systémových a operačních platformách a další technologie používané
                        na zařízeních používaných uživatelem k přístupu na tento web.
                    </font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Údaje
                            profilu</font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;"> mohou zahrnovat uživatelské jméno a heslo, informace o
                        nákupech nebo objednávkách, zájmy, preference, názory a odpovědi poskytnuté v průzkumu
                        uživatele.</font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Údaje
                            o</font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;"> použití mohou zahrnovat informace o tom, jak jsou webové
                        stránky, produkty a služby společnosti použity.</font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Marketingová a
                            komunikační data</font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;"> mohou zahrnovat preference uživatele pro příjem
                        marketingových zpráv od společnosti a jejích externích subjektů, stejně jako preference
                        komunikace.</font></font></li>
        </ul>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost může také
                    zpracovávat souhrnná data získaná z osobních údajů uživatele, ale tato data neodhalují totožnost
                    uživatele a nejsou sama o sobě osobními údaji. </font><font style="vertical-align: inherit;">Příkladem
                    by mohla být situace, kdy společnost prochází údaje o využití uživatelů, aby určila procento
                    návštěvníků webu pomocí konkrétní funkce. </font><font style="vertical-align: inherit;">Pokud
                    společnost zkombinuje agregovaná data s osobními údaji uživatele za účelem umožnění jejich
                    identifikace, budou s těmito údaji nakládáno jako s osobními údaji.</font></font></p>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Citlivá
                    data </font></font></strong>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost o vás neshromažďuje
                    žádné citlivé informace. </font><font style="vertical-align: inherit;">Citlivé údaje se týkají rasy
                    nebo etnicity, náboženského nebo filozofického přesvědčení, sexuálního života, sexuální orientace,
                    politických názorů, členství v odborech, zdravotních informací a genetických a biometrických
                    údajů. </font><font style="vertical-align: inherit;">Společnost neshromažďuje žádné informace o
                    odsouzeních a spáchaných trestných činech.</font></font></p>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3. JAK SPOLEČNOST Sbírá
                    OSOBNÍ ÚDAJE UŽIVATELŮ </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost může shromažďovat
                    uživatelská data různými způsoby, včetně: </font></font></p>
        <ul>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Používání přímé
                            interakce:</font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;"> uživatel může poskytnout údaje vyplněním formulářů na
                        webových stránkách společnosti (nebo jinak) nebo s nimi komunikovat poštou, telefonem, e-mailem
                        nebo jinými prostředky, včetně případů, kdy uživatel:</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">objedná produkty nebo
                        služby společnosti; </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">založit účet na webových
                        stránkách společnosti; </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">předplatit služby nebo
                        publikace společnosti; </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">požaduje materiály nebo
                        marketingové činnosti; </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">se zúčastní soutěže,
                        losování, propagace nebo průzkumu nebo </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">bude sdílet komentáře se
                        společností. </font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Používáním
                            automatizovaných technologií nebo interakcí:</font></font></strong><font
                        style="vertical-align: inherit;"><font style="vertical-align: inherit;"> když používáte web
                        společnosti, může automaticky shromažďovat technická data o zařízeních, prohlížení stránek a o
                        tom, jak je používáte. </font><font style="vertical-align: inherit;">Společnost shromažďuje tato
                        data pomocí cookies, serverových protokolů a podobných technických řešení. </font><font
                            style="vertical-align: inherit;">Společnost může také získat technické údaje o uživateli,
                        když navštíví jiné webové stránky, které používají jeho cookies.</font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Od třetích stran
                            nebo z veřejně dostupných zdrojů:</font></font></strong><font
                        style="vertical-align: inherit;"><font style="vertical-align: inherit;"> společnost může
                        přijímat osobní údaje o vás od různých třetích stran a z veřejných zdrojů, jak je uvedeno níže:
                    </font></font>
                <ul>
                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">od poskytovatelů
                                analytických služeb, jako je Google se sídlem mimo EU; </font></font></li>
                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">z reklamních sítí,
                                jako je Facebook se sídlem mimo EU a </font></font></li>
                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">od poskytovatelů
                                vyhledávání nebo sledování informací, jako je HOTJAR se sídlem mimo EU. </font></font>
                    </li>
                </ul>
            </li>
        </ul>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4. JAK SPOLEČNOST POUŽÍVÁ
                    OSOBNÍ ÚDAJE UŽIVATELE </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost použije vaše osobní
                    údaje, pouze pokud to zákon povoluje. </font><font style="vertical-align: inherit;">Nejčastěji se
                    používají osobní údaje uživatele:</font></font></p>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">v případě, že společnost
                        musí uzavřít smlouvu mezi ní a uživatelem; </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">pokud je to nezbytné pro
                        oprávněné zájmy společnosti (nebo zájmy třetích osob) a zájmy a základní práva uživatele nad
                        těmito zájmy nepřevládají; </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">pokud je společnost
                        povinna dodržovat zákonné a regulační povinnosti. </font></font></li>
        </ul>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Obecně se společnost nespoléhá
                    na souhlas uživatele jako na právní základ pro zpracování svých osobních údajů, s výjimkou zasílání
                    uživatelských marketingových zpráv prostřednictvím e-mailu nebo textových zpráv. </font><font
                        style="vertical-align: inherit;">Uživatel má právo kdykoli odvolat souhlas s marketingovými
                    aktivitami a může tak učinit písemným zasláním společnosti na adresu
                    support@foxseek.com.</font></font></p>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Účely zpracování osobních
                    údajů </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Níže je uveden popis způsobu,
                    jakým společnost zamýšlí použít vaše osobní údaje a právní základ, na kterém bude
                    zpracovávat. </font><font style="vertical-align: inherit;">Kde je to relevantní, vysvětluje také,
                    jaké jsou oprávněné zájmy společnosti.</font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost může zpracovat vaše
                    osobní údaje na základě více než jednoho právního základu v závislosti na konkrétním účelu, pro
                    který jsou údaje použity. </font><font style="vertical-align: inherit;">Pokud potřebujete podrobné
                    informace o právním základě, na kterém je společnost založena při zpracování vašich osobních údajů,
                    pokud je v níže uvedené tabulce uvedeno více důvodů, zašlete e-mail na adresu
                    support@foxseek.com.</font></font></p>

        <table>
            <thead>
            <tr>
                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Účel / aktivita</font></font>
                </th>
                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Typ dat</font></font>
                </th>
                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Právní základ pro
                            zpracování údajů</font></font></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Registrace nového
                            zákazníka</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(a)
                            Identita </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (b) Kontakt
                        </font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Realizace smlouvy s
                            uživatelem</font></font></td>
            </tr>
            <tr>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Zpracování a dodání
                            objednávek, včetně: </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (a) plateb, poplatků a řízení pohledávek </font></font><br><font
                            style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            (b) inkaso a vymáhání pohledávek společnosti
                        </font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(a)
                            Identita </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (b) Kontakt </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (c) Finanční </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (d) Transakční </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (e) Marketing a komunikace
                        </font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">a) Plnění smlouvy s
                            uživatelem </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            b) Nezbytné z důvodu oprávněného zájmu společnosti na vymáhání pohledávek
                        </font></font></td>
            </tr>
            <tr>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Správa vztahů s
                            uživateli, která zahrnuje: </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (a) Oznámení změn podmínek ochrany soukromí </font></font><br><font
                            style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            (b) Požádání uživatele o vyjádření nebo průzkum
                        </font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">a)
                            Identita </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            b) Kontakt </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            c) Profil </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            d) Marketing a komunikace
                        </font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(a) Plnění smlouvy s
                            uživatelem </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (b) Nezbytné pro splnění zákonné povinnosti </font></font><br><font
                            style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            (c) Nezbytné ve vztahu k oprávněnému zájmu společnosti za účelem aktualizace její
                            dokumentace a přezkoumání toho, jak zákazníci používají produkty a / nebo služby společnosti
                        </font></font></td>
            </tr>
            <tr>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Umožnit uživateli
                            účastnit se losování cen, soutěží nebo dokončit průzkum</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(a)
                            Identita </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (b) Kontakt </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (c) Profil </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (d) Nástroje </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (e) Marketing a komunikace
                        </font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(a) Plnění uživatelské
                            smlouvy </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (b) Nezbytné ve vztahu k oprávněným zájmům společnosti, aby bylo možné zjistit, jak
                            zákazníci používají produkty a / nebo služby společnosti, rozvíjet je a rozvíjet podnikání
                            společnosti.
                        </font></font></td>
            </tr>
            <tr>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Správa a ochrana firmy
                            a webových stránek společnosti (včetně odstraňování problémů, analýzy dat, testování, údržby
                            systému, podpory, hlášení a hostování dat).</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">a)
                            Identita </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            b) Kontakt </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            c) Technická
                        </font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">a) Nezbytné z důvodu
                            oprávněných zájmů společnosti při provozování obchodních, administrativních a IT služeb,
                            zabezpečení sítě, předcházení podvodům, jakož i v souvislosti s reorganizací podnikání nebo
                            restrukturalizací skupiny. </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            b) Nezbytné pro splnění zákonné povinnosti
                        </font></font></td>
            </tr>
            <tr>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Poskytování
                            relevantního obsahu a reklam uživateli, jakož i měření a porozumění účinnosti reklam
                            společnosti.</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(a)
                            Identita </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (b) Kontakt </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (c) Profil </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (d) Nástroje </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (e) Marketing a komunikace </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (f) Technické
                        </font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">V souvislosti s
                            oprávněnými zájmy společnosti je nezbytné zkoumat, jak zákazníci používají produkty a / nebo
                            služby společnosti, rozvíjet je, rozvíjet obchodní činnost společnosti a informovat o
                            marketingové strategii společnosti</font></font></td>
            </tr>
            <tr>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Využití analýzy dat ke
                            zlepšení webových stránek společnosti, jejích produktů a / nebo služeb, marketingu, vztahů
                            se zákazníky a zkušeností</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(a) Technické </font></font><br><font
                            style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            (b) služby
                        </font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nezbytné v souvislosti
                            s oprávněnými zájmy společnosti za účelem definování typů zákazníků pro konkrétní produkty a
                            služby společnosti, zajištění včasnosti a vhodnosti webových stránek společnosti, rozvoj
                            podnikání společnosti a informování o marketingové strategii společnosti</font></font></td>
            </tr>
            <tr>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Navrhování a
                            doporučení zboží a služeb uživatelům, které by pro ně mohly být zajímavé</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(a)
                            Identita </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (b) Kontakt </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (c) Technické </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (d) Nástroje </font></font><br><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">
                            (e) Profil
                        </font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nezbytné v souvislosti
                            s oprávněnými zájmy společnosti za účelem vývoje produktů a / nebo služeb společnosti a
                            jejích činností.</font></font></td>
            </tr>
            </tbody>
        </table>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Marketingová
                    komunikace </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Uživatel obdrží od společnosti
                    marketingové informace, pokud: </font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    a (i) vyžádané informace od společnosti nebo zakoupené zboží nebo služby od ní,
                    nebo </font></font><br><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">
                    (ii) poskytla společnosti své údaje a zaškrtla políčko u vstupního bodu pro souhlas s zasíláním
                    marketingových informací, a </font></font><br><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">
                    iii (iii) uživatel se neodhlásil přijímání takových marketingových informací.
                </font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Před zveřejněním osobních údajů
                    třetím stranám pro marketingové účely získá společnost výslovný souhlas uživatele. </font></font>
        </p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Uživatel může kdykoli požádat
                    společnost nebo třetí stranu o zastavení odesílání marketingových zpráv. </font><font
                        style="vertical-align: inherit;">To lze provést zasláním e-mailu na adresu
                    support@foxseek.com.</font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Odhlášení od přijímání
                    marketingových informací od společnosti nesouvisí s osobními údaji poskytnutými společnosti v
                    důsledku nákupu produktu a / nebo služby, registrace záruky, zkušeností s produktem a / nebo službou
                    a dalších transakcí.</font></font></p><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">
                Změna účelu

            </font></font>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost použije vaše osobní
                    údaje pouze pro účely, pro které byly shromážděny, ledaže se důvodně domnívá, že je nutné je použít
                    jiným způsobem a že metoda je v souladu s původním účelem. </font><font
                        style="vertical-align: inherit;">Chcete-li se dozvědět více o tom, jak je zpracování pro nový
                    účel v souladu s původním účelem, zašlete e-mail na adresu support@foxseek.com.</font></font>
        </p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Pokud je společnost nucena používat osobní údaje pro účely, které nesouvisejí s účelem, pro který
                    byly shromážděny, informuje uživatele a vysvětlí právní základ pro zpracování
                    údajů. </font></font><br><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">
                    Společnost může zpracovávat osobní údaje bez vědomí nebo souhlasu uživatele, pokud to vyžaduje nebo
                    povoluje zákon.
                </font></font></p>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5. ZVEŘEJNĚNÍ OSOBNÍCH
                    ÚDAJŮ </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost může být požádána,
                    aby poskytla vaše osobní údaje subjektům uvedeným níže pro účely uvedené v tabulce v odstavci 4
                    výše. </font><font style="vertical-align: inherit;">Těmito subjekty jsou:</font></font></p>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">další společnosti patřící
                        do skupiny společností, které poskytují služby v oblasti IT, fakturace a správy systémů a
                        podávají zprávy o správcovských činnostech; </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">poskytovatelé služeb
                        poskytující služby správy IT a systémů; </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">profesionální poradci,
                        včetně právníků, bankéřů, auditorů a pojišťoven, kteří poskytují poradenské, bankovní, právní,
                        pojišťovací a účetní služby; </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">daňové a celní orgány,
                        regulační orgány a jiné subjekty se sídlem v EU a další příslušné právní systémy, které za
                        určitých okolností vyžadují podávání zpráv o činnostech zpracování údajů; </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">vládní a nevládní
                        subjekty, které regulují otázky týkající se tržních kodexů chování a stížností zákazníků;</font></font>
            </li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">třetí strany, kterým
                        společnost prodává, převádí nebo s nimiž sdílí část svých činností nebo aktiv. </font></font>
            </li>
        </ul>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vyžaduje, aby všechny třetí
                    strany, kterým společnost předává vaše osobní údaje, respektovaly bezpečnost osobních údajů a
                    zacházely s nimi v souladu se zákonem. </font><font style="vertical-align: inherit;">Společnost
                    umožňuje takovým třetím stranám zpracovávat vaše osobní údaje pouze pro konkrétní účely a v souladu
                    s pokyny společnosti.</font></font></p>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6. PŘENOS V
                    ZAHRANIČÍ </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost nepřenáší osobní
                    údaje mimo Evropský hospodářský prostor </font></font><strong><font
                        style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">(EHP)</font></font></strong></p>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7. BEZPEČNOST
                    DAT</font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Společnost zavedla příslušná bezpečnostní opatření, aby zabránila neoprávněné ztrátě, použití nebo
                    přístupu k vašim osobním údajům neoprávněnými osobami a zabránila jejich změně nebo
                    zveřejnění. </font><font style="vertical-align: inherit;">Společnost navíc omezuje přístup k vašim
                    osobním údajům a poskytuje je pouze zaměstnancům, agentům, dodavatelům a jiným třetím stranám, kteří
                    mají obchodní potřebu, aby se s těmito údaji seznámili. </font><font
                        style="vertical-align: inherit;">Osobní údaje uživatele budou zpracovávány pouze jménem
                    společnosti a podléhají povinnosti mlčenlivosti.
                </font></font></p>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">8. DOBA SKLADOVÁNÍ
                    ÚDAJŮ </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost bude vaše osobní
                    údaje ukládat po dobu, která bude nezbytná k dosažení účelu, pro který byly shromážděny, včetně
                    splnění právních, účetních a výkaznických požadavků. </font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Při určování vhodné doby uchovávání osobních údajů společnost bere v úvahu množství, povahu a
                    citlivost osobních údajů, potenciální riziko poškození v důsledku neoprávněného použití nebo
                    zveřejnění osobních údajů, účely, pro které společnost zpracovává osobní údaje a zda může těchto
                    cílů dosáhnout. jinými prostředky, jakož i použitelnými právními požadavky. </font><font
                        style="vertical-align: inherit;">Ze zákona je společnost povinna pro daňové účely ukládat
                    základní informace o svých klientech (včetně kontaktních údajů, identifikačních údajů, finančních
                    údajů a transakčních údajů) po dobu šesti let poté, co přestanou být klienty.
                </font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">V některých případech může
                    uživatel požádat společnost o vymazání jeho údajů - další informace jsou uvedeny
                    níže. </font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Za určitých okolností může
                    společnost anonymizovat vaše osobní údaje (aby nemohly být spojeny s vámi) pro výzkumné nebo
                    statistické účely. </font><font style="vertical-align: inherit;">V takovém případě může společnost
                    tyto informace použít po dobu neurčitou, aniž by o této skutečnosti uživatele dále
                    informovala.</font></font></p>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9. PRÁVA UŽIVATELE </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">S ohledem na vaše osobní údaje
                    má uživatel určitá práva podle určitých zákonů o ochraně dat. </font><font
                        style="vertical-align: inherit;">Toto jsou práva:</font></font></p>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">požádat o přístup k vašim
                        osobním údajům, </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">žádost o opravu vašich
                        osobních údajů,</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">žádost o vymazání vašich
                        osobních údajů, </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">namítat proti zpracování
                        osobních údajů, </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">žádost o omezení
                        zpracování vašich osobních údajů, </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">žádost o přenos vašich
                        osobních údajů, </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">odvolání souhlasu. </font></font>
            </li>
        </ul>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Další informace o těchto
                    právech naleznete na webových stránkách místního úřadu pro ochranu soukromí.</font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chcete-li uplatnit některá z
                    výše uvedených práv, pošlete e-mail na adresu support@foxseek.com.</font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nebudete muset platit poplatek
                    za přístup k vašim osobním údajům (nebo uplatňovat jiná práva). </font><font
                        style="vertical-align: inherit;">Společnost však může účtovat přiměřený poplatek, pokud je vaše
                    žádost zjevně neopodstatněná, opakující se nebo nepřiměřená. </font><font
                        style="vertical-align: inherit;">Za takových okolností může společnost také odmítnout vyhovět
                    vaší žádosti.</font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aby bylo možné potvrdit vaši
                    totožnost a zajistit právo na přístup k osobním údajům (nebo možnost, aby uživatel uplatnil jedno z
                    práv), může být nutné požádat uživatele o konkrétní informace. </font><font
                        style="vertical-align: inherit;">Jedná se o bezpečnostní opatření, které zajistí, že osobní
                    údaje nebudou poskytnuty nikomu, kdo nemá právo je obdržet. </font><font
                        style="vertical-align: inherit;">Společnost vás také může kontaktovat a požádat o další
                    informace týkající se vašeho požadavku, aby se vaše reakce urychlila.</font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Společnost se snaží odpovědět
                    na všechny přiměřené žádosti do jednoho měsíce. </font><font style="vertical-align: inherit;">V
                    některých případech to může trvat déle než měsíc, pokud je váš požadavek obzvláště složitý nebo
                    pokud odešlete více žádostí. </font><font style="vertical-align: inherit;">V tomto případě bude
                    společnost o této skutečnosti uživatele informovat a průběžně bude poskytovat další oznámení.</font></font>
        </p>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10. ODKAZY NA VNĚJŠÍ
                    SUBJEKTY </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tento web může obsahovat odkazy
                    na webové stránky třetích stran, doplňky a aplikace. </font><font style="vertical-align: inherit;">Kliknutím
                    na tyto odkazy nebo spuštěním těchto připojení může dojít ke shromažďování nebo sdílení
                    uživatelských dat třetími stranami. </font><font style="vertical-align: inherit;">Společnost tyto
                    webové stránky třetích stran nekontroluje a není odpovědná za jejich prohlášení o ochraně osobních
                    údajů. </font><font style="vertical-align: inherit;">Společnost doporučuje uživatelům, aby si při
                    odchodu ze svých webových stránek přečetli oznámení o ochraně osobních údajů každé navštívené
                    stránky.</font></font></p>

        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11. COOKIES </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Uživatelé mohou nastavit svůj
                    prohlížeč tak, aby odmítl všechny nebo některé soubory cookie nebo varoval před nastavením nebo
                    přístupem k souborům cookie z webových stránek. </font><font style="vertical-align: inherit;">Pokud
                    cookies zakážete nebo odmítnete, mějte na paměti, že některé části těchto stránek se mohou stát
                    nepřístupnými nebo nefunkční.</font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Web společnosti používá soubory
                    cookie k odlišení od ostatních uživatelů. </font><font style="vertical-align: inherit;">To pomáhá
                    společnosti poskytovat uživatelům dobré zkušenosti při procházení webových stránek společnosti a
                    také umožňuje společnosti vylepšovat její stránky.</font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Soubor cookie je malý soubor
                    skládající se z písmen a čísel, který společnost ukládá v prohlížeči uživatele nebo na pevný disk
                    svého počítače. </font></font><strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Používáním tohoto webu souhlasíte s používáním
                        cookies. </font></font></strong><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Cookies obsahují informace zaslané na pevný disk
                    počítače. </font><font style="vertical-align: inherit;">Webové stránky společnosti mohou používat
                    jeden nebo více typů následujících souborů cookie:</font></font></p>
        <ul>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Přísně nutné
                            soubory cookie. </font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Jedná se o soubory cookie, které jsou vyžadovány pro provoz
                        stránek na webových stránkách společnosti. </font><font style="vertical-align: inherit;">Patří
                        sem například soubory cookie, které vám umožňují přihlásit se do zabezpečených
                        oblastí.</font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Analytické a /
                            nebo výkonné soubory cookie. </font></font></strong><font
                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">Umožňují společnosti
                        rozpoznat a spočítat počet návštěvníků a určit, jak návštěvníci procházejí webem, když jej
                        používají. </font><font style="vertical-align: inherit;">To pomáhá zlepšit výkon webových
                        stránek, například tím, že uživatelé mohou snadno najít to, co hledají.</font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Funkční soubory
                            cookie. </font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Používají se k rozpoznání uživatele, když se vrátí na
                        web. </font><font style="vertical-align: inherit;">Díky nim může společnost personalizovat obsah
                        určený pro uživatele a zapamatovat si jeho preference.</font></font></li>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cílení
                            cookies. </font></font></strong><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Tyto cookies ukládají návštěvy uživatelů na webových
                        stránkách společnosti, navštívených stránkách a kliknutí na odkazy. </font><font
                            style="vertical-align: inherit;">Tyto informace budou použity k lepšímu přizpůsobení webu a
                        zobrazovaných reklam vašim zájmům.</font></font></li>
        </ul>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vezměte prosím na vědomí, že
                    třetí strany (včetně například reklamních sítí a externích poskytovatelů služeb, jako jsou služby
                    pro analýzu webového provozu) mohou také používat soubory cookie, nad nimiž společnost nemá
                    kontrolu. </font><font style="vertical-align: inherit;">Tyto soubory cookie jsou nejčastěji
                    analytické a / nebo výkonové nebo cílové soubory cookie.</font></font></p>

        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Příklady souborů cookie třetích stran, které poskytují služby: </font></font></span>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google
                        Analytics </font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">cvrlikání </font></font>
            </li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Facebook </font></font>
            </li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pinterest </font></font>
            </li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">LinkedIn </font></font>
            </li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Instagram </font></font>
            </li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google+ </font></font>
            </li>
        </ul>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pro více informací o cookies
                    navštivte jednotlivé webové stránky. </font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pokud se chcete dozvědět více o
                    cookies, můžete navštívit stránku </font></font><a href="http://www.aboutcookies.org/"><font
                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">http://www.aboutcookies.org/</font></font></a><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;"> , kterou provozuje
                    nezávislá třetí strana a vysvětluje, co jsou cookies a čisté GIF a jak můžete vypořádat se s
                    nimi. </font><font style="vertical-align: inherit;">Vezměte prosím na vědomí, že společnost není
                    zodpovědná za obsah tohoto externího webu a nemá nad ním kontrolu.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Uživatel může cookies blokovat aktivací nastavení v prohlížeči, aby je deaktivoval. </font><font
                        style="vertical-align: inherit;">Pokud však zablokujete všechny soubory cookie (včetně
                    nezbytných souborů cookie) pomocí nastavení vašeho prohlížeče, pravděpodobně nebudete mít přístup ke
                    všem nebo některým částem webu společnosti.
                </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    S výjimkou nezbytně nutných a funkčních souborů vyprší platnost cookies za dva roky.
                </font></font></p>
        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12.
                    Verze </font></font></strong>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tato pravidla platí od 1.
                    května 2018. </font></font></p>
        <p style="font-weight: Bold;font-size: 12px;text-align: center">
            <a href="/tnc" style="color: #0611dc"><font
                        style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Podmínky</font></font></a><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;"> -
                </font></font><a href="/help" style="color: #0611dc"><font
                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kontakt a
                        odhlášení</font></font></a><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;"> -
                </font></font><a href="/privacy" style="color: #0611dc"><font
                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prohlášení o ochraně
                        osobních údajů</font></font></a>

        </p>
    </div>

</div>

</body>
</html>